@model IEnumerable<RepositoryCrud.Models.Employee>
@{
}
<a asp-action="Create" asp-controller="Employee" class="btn btn-outline-success">Create</a>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Mobile</th>
    </tr>
    @foreach(var emp in Model)
            {
<tr>
    <td>@emp.Name</td>
    <td>@emp.Gender</td>
    <td>@emp.Address</td>
    <td>@emp.Mobile</td>
    <td>
        <a asp-action="Delete" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Details" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-success">Details</a>

        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-warning">Edit</a>
    </td>
</tr>
            }
</table>